.message-content
  .name-date
    .user-name
      = message.user.name
    .date
      = message.created_at.strftime("%y/%m/%d/%H:%M:%S")
  .message
    = message.text
    = image_tag message.image if message.image.present?
