.messages
  .ul.name-date
    .li.user-name
      = message.user.name
    .li.date
      / = format_posted_time(message.created_at)
      = message.created_at
  .message
    - if message.text.present?
      %p.message__text
        = message.text
    = image_tag message.image.url, class: 'message__image' if message.image.present?
