@import "./reset";
@import "./variable";
@import "font-awesome";

@mixin base($width, $height, $background-color) {
  width: $width;
  height: $height;
  background-color: $background-color;
}

@mixin text($color, $size) {
  color: $color;
  font-size: $size;
}

.body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  @include base(100%, 30px, $back-blue);
  color: $text-white;
  text-align: center;
  line-height: 30px;
  position: fixed;
}

.chat-side {
  @include base(300px, 100vh, null);
  padding: 30px 0 0 0;
  float: left;

  .chat-side__header {
    @include base(300px, 100px, $back-black);
    position: fixed;

    .chat-side__header__user-name {
      @include text($text-white, 16px);
      font-weight: bold;
      line-height: 100px;
      padding: 0 20px;
      float: left;
    }

    .chat-side__header__icons {
      padding: 0 20px;
      float: right;

      .fa {
        color: $text-white;
        line-height: 100px;

        .fa-edit {
          float: left;
        }

        .fa-cog {
          float: right;
        }
      }
    }
  }

  .chat-side__groups {
    @include base(300px, calc(100vh - 100px), $back-navy);
    padding: 100px 0 0 0;

    .group {
      padding:20px 20px;

      .group__name {
        @include text($text-white, 15px);
      }

      .group__message {
        @include text($text-white, 11px);
        margin-top: 5px;
      }
    }
  }
}

.chat-main {
  @include base(calc(100vw - 300px), 100vh, null);
  padding: 30px 0;
  float: right;

  .chat-main__header {
    @include base(calc(100vw - 300px), 100px, null);
    border: 1px;
    border-style: solid;
    border-color: $border;
    position: fixed;

    .chat-main__header__left {
      padding: 0 40px;
      float: left;

      .chat__name {
        @include text($text-title, 20px);
        margin: 35px 0 0 0;
      }

      .chat__member {
        @include text($text-data, 12px);
        margin-top: 15px 0;
      }
    }

    .chat-main__header__right {
      padding: 0 40px;
      float: right;

      .chat-edit {
        height: 40px;
        padding-top: 28px;
        margin: 0 20px 0 auto;
      }
    }
  }

  .chat-main__contents {
      @include base(calc(100vw - 300px), calc(100vh - 190px), $back-white);
    margin-top: 100px;
    padding: 6px 40px 0 40px;

    .message {
      padding: 40px 0 0 0;

      .user__name {
        @include text($text-body, 16);
        font-weight: bold;
        float: left;
      }

      .date {
        @include text($text-data, 12);
        padding-left: 10px;
        float: left;
      }

      .text {
        @include text($text-body, 14);
        clear: both;
      }
    }
  }

  .chat-main__footer {
    @include base(calc(100vw - 300px), 90px, $back-white);
    padding: 0 40px 0 40px;
    bottom: 0px;

    .chat-main__footer__left {
      float: left;
    }

    .input__message{
      @include text($text-body, 16);
      line-height: 50px;
      padding-left: 10px;
    }
  }

  .chat-main__footer__right {
    background-color: $back-blue;
    color: $text-white;
    padding: 0 40px;
    margin-right: 40px;
    float: right;
  }

  .chat-send {
    line-height: 50px;
  }
}
